<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.jiantao.android.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".refresh.TestRefreshViewActivity"
            android:label="refresh/TestRefreshViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="io.jiantao.android.sample.category" />
            </intent-filter>
        </activity>
        <activity
            android:name=".refresh.TestRecyclerViewActivity"
            android:label="refresh/TestRecyclerViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="io.jiantao.android.sample.category" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tablayout.SlidingTabActivity"
            android:label="tablayout/SlidingTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="io.jiantao.android.sample.category" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.SimpleFragmentActivity"
            android:label="common/simpleFragmentActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- animation -->
        <activity
            android:name=".animation.TestAnimationActivity"
            android:label="animation/TestAnimationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="io.jiantao.android.sample.category" />
            </intent-filter>
        </activity>

        <!-- animation -->


        <!-- view -->
        <activity
            android:name=".photoview.PhotoViewerTestActivity"
            android:label="view/PhotoViewerTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="io.jiantao.android.sample.category" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.NotificationTestActivity"
            android:label="view/NotificationTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="io.jiantao.android.sample.category" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="view/FullscreenActivity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="io.jiantao.android.sample.category" />
            </intent-filter>
        </activity>
        <!-- view -->

        <!--fragment-->
        <activity
            android:name=".fragment.TestFragmentBackstack"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="fragment/TestFragmentBackstack">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="io.jiantao.android.sample.category" />
            </intent-filter>
        </activity>
        <!--fragment-->

    </application>

</manifest>