<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="io.jiantao.android.uikit">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".photoviewer.PhotoViewerActivity"
            android:theme="@style/photoviewer_theme"
            />
    </application>

</manifest>
